* {
    box-sizing: border-box;
    margin:0;
    padding:0;

}

html {
    font-size: 62.5%;
}

body {
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
    background-color:#161e27;
    -moz-user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    color: #ffffff;
}

.conteneur{
    display:flex;
    flex-flow: row wrap;
}

h1 {    
    font-size: 40px;
    font-size-adjust: auto;
    max-width : 320px;
    height:auto;
    margin-top:50px;
}

h2 {
    font-size: 30px;
    font-size-adjust: auto;
    max-width: 320px;
    height:auto;
    margin-top:10px;
}

h3{
    font size:4.0rem;
}

p {
    margin-top: 50px;
    font-size:2.0rem;

}

a, a:active, a:checked {
    background-color: initial !important;
    -webkit-tap-highlight-color: transparent;
}

.btn:active {
    text-shadow: 0 0 5px #ffffff;
}

.btn:hover {
    text-shadow: 0 0 5px #ffffff;